body { margin:0; padding:0;font-family: 'Arial', 'sans-serif';color: #555;}
p {
  font-size: 16px;
  line-height: 20px;
}
a {color:#567CA3;text-decoration: none;}
a:hover {color: #4D6379;}
#banner {
  position:fixed;
  bottom:0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background:#fff;
  z-index: 100;
/*  border-bottom: 1px solid #bbb;*/
}
#banner img.il {
  cursor: pointer;
  width: 60px;
  float: left;
  margin: 6px;
  opacity: .6;
}
#banner img.il:hover {
  opacity: .8;
}
#banner h3 {
  float: left;
}
#banner .switcher {
  float: left;
  margin: 10px 10px 0 30px;
  border: 1px solid #ddd;
}
  .switcher a {
    display: block;
    float: left;
    background: #fff;
    cursor:pointer;
    padding: 12px;
    color: #567CA3;
    font-size:12px;
    transition: all 100ms linear;
  }
  .switcher a.all {
    border-left: 1px solid #ddd;
  }
  .switcher a:hover, a.active {
    background: #ddd;
    color: #4D6379;
  }
.legend {
  border-top:1px solid #ddd;
  margin:20px 0 0 0;
  padding:20px 0px;
}
.legend li {
  list-style: none;
  float: left;
  font-size:12px;
}
.legend span {
  padding: 0px 10px;
  margin-right: 10px;
}
span.ten {
  border: 3px solid #6A788D;
}
span.two {
  margin-left: 10px;
  background: #fea;
  padding-left: 10px;
  border: 3px solid #fea;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  }
#spinner {
  display: none;
  width: 25px;
  float: left;
  margin: 26px 15px;
  position: relative;
}
span.icon {
  position: absolute;
  margin: 30px;
  right: 0px;
  width: 16px;
  height: 16px;
  padding-right: 10px;
  background-size:60%;
  background-repeat: no-repeat;
  display: inline-block;
  opacity: .8;
  cursor: pointer;
}
#about {
  opacity: 0;
  width: 300px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  height: auto;
  position: absolute;
  top:20px;
  right: 20px;
  z-index: 10;
  padding: 10px 20px;
}
#about.active {
  opacity: 1;
   transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}
.leaflet-popup-content-wrapper, .map-tooltip {
  background: #fff;
  background: rgba(255, 255, 255, .6);
  /*border: 2px solid #fff;*/
}
.leaflet-popup-content .large {
  font-size: 18px;
}
.leaflet-popup-content .title {
  padding: 5px;
  font-size: 12px;
}
.map-legend .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
  }
.leaflet-popup-close-button {
  display: none;
  }
.leaflet-popup-content-wrapper {
  pointer-events: none;
  }
table {
  background:#fff;
  max-width:100%;
  border-spacing:0;
  width:100%;
  margin:10px 0;
  border:1px solid #ddd;
  border-collapse:separate;
  *border-collapse:collapsed;
  }
  table tr.two td {
    border-bottom: 1px solid #999;
  }
   td.year {
    background: #fff;
    border-right: 1px solid #999;
  }
  table th {
    border-bottom: 1px solid #999;
  }
  table th,
  table td {
  padding:8px;
  line-height:18px;
  text-align:left;
  }
  table th {
  background:#f6f6f6;
  text-shadow:0 1px 0 #fff;
  font-weight:bold;
  vertical-align:bottom;
  }
  table td {
  vertical-align:top;
  }
  table thead:first-child tr th,
  table thead:first-child tr td {
  border-top:0;
  }
  table thead:first-child tr:first-child th,
  table tbody:first-child tr:first-child th,
  table tbody:first-child tr:first-child td {
  border-top:0;
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 660px) {
  #banner h1 {
    display: none;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width: 1024px) {
  #banner h1 {
    font-size: 20px;
    line-height: 50px;
  }
}